.main-box{
  width: 3.75rem;
  min-height: 100vh;
  background: linear-gradient(180deg, #FB2727 0%, #FFFFFF 100%);
}

.nav-box{
  width: 100%;
  height: .22rem;
  padding: .2rem .27rem;
}

.nav-box .menu{
  width: .22rem;
  height: .14rem;
}

.nav-box .set{
  width: .22rem;
  height: .22rem;
}

.question-title{
  width: 100%;
  height: .24rem;
  font-size: .18rem;
  font-weight: bold;
  line-height: .24rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: .25rem;
}

.question-cover{
  width: 3.29rem;
  height: 5.02rem;
  display: block;
  margin: 0 .08rem .1rem .38rem;
}

.weui-btn_warn{
  width: 2.9rem;
  height: .47rem;
  background: #FA4248;
  border-radius: .45rem;
}

.test-text{
  width: 100%;
  height: .17rem;
  color: #808080;
  line-height: .17rem;
  font-size: .13rem;
  font-weight: bold;
  text-align: center;
  margin: .11rem 0 .8rem;
}