<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../css/swiper.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
  <link rel="stylesheet" href="./../css/fsbw.css">
  <link rel="stylesheet" href="./../css/base.css">
  <title>逢事必问</title>
</head>
<body>
  <div class="main-box">
    <div class="nav-box flex-m-sb">
      <img src="./../image/icon-menu.png" alt="" class="menu">
      <img src="./../image/gary-set.png" alt="" class="set">
    </div>
    <div class="main-title">逢事必问</div>
    <div class="main-header-box flex-m">
      <div class="left-header">
        <div class="left-title pr">葛医堂逢事必问</div>
        <div class="left-desc pr">
          根据生辰对您身体健康状况的进行评估，早预防、早调理、早保健...
          <span class="right-arrow">›</span>
        </div>
      </div>
      <div class="right-cover-box pr">
        <img class="avatar" src="./../image/put-question.png" alt="">
        <img src="./../image/icon-bagua.png" alt="" class="bagua">
      </div>
    </div>
    <!-- 轮播nav -->
    <div class="tab-box flex">
      <div class="tab-item banner-nav active-tab-item">逢事</div>
      <div class="tab-item banner-nav">健康</div>
      <div class="tab-item banner-nav">婚姻</div>
      <div class="tab-item banner-nav">职业</div>
      <div class="tab-item banner-nav">事业</div>
    </div>
    <!-- 轮播卡片 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-card-box active-swiper-card">
            <div class="card-label">逢事必问</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              壹
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">健康预估</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              贰
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">婚姻测评</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              叁
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">性格职业</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              肆
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">知己知彼</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              伍
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 轮播下表单 -->
    <!-- one -->
    <div class="active-form form-box">
      <div class="flex-m sign-box">
        <div class="flex-m has-right has-choose sign">
          <img src="./../image/image-sign.png" alt="">
          <p>6</p>
        </div>
        <div class="sign flex-m has-right">
          <img src="./../image/image-sign.png" alt="">
          <p>7</p>
        </div>
        <div class="sign flex-m">
          <img src="./../image/image-sign.png" alt="">
          <p>2</p>
        </div>
        <div class="sign flex-m has-right">
          <img src="./../image/image-sign.png" alt="">
          <p>1</p>
        </div>
        <div class="sign flex-m has-right">
          <img src="./../image/image-sign.png" alt="">
          <p>5</p>
        </div>
        <div class="sign flex-m">
          <img src="./../image/image-sign.png" alt="">
          <p>9</p>
        </div>
        <div class="sign flex-m has-right">
          <img src="./../image/image-sign.png" alt="">
          <p>8</p>
        </div>
        <div class="sign flex-m has-right">
          <img src="./../image/image-sign.png" alt="">
          <p>3</p>
        </div>
        <div class="sign flex-m">
          <img src="./../image/image-sign.png" alt="">
          <p>4</p>
        </div>
      </div>
    </div>
    <!-- two -->
    <div class="form-box form-box">
      <div class="input-item-box flex-m" style="padding-right: 0;">
        <img src="./../image/image-gender.png" alt="" class="left-icon">
        <div class="input-text input-before">性别</div>
        <div class="flex-m sex-change">
          <p class="no-choose-sex">女<img src="./../image/image-select.png" alt=""></p>
          <p class="no-choose-sex choose-sex">男<img src="./../image/image-select.png" alt=""></p>
        </div>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/image-age.png" alt="" class="left-icon">
        <div class="input-text input-before">年龄</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- three -->
    <div class="form-box form-box">
      <div class="input-item-box flex-m">
        <img src="./../image/image-man.png" alt="" class="left-icon">
        <div class="input-text input-before">男方年龄</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/image-woman.png" alt="" class="left-icon">
        <div class="input-text input-before">女方年龄</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- four -->
    <div class="form-box form-box">
      <div class="input-item-box flex-m" style="padding-right: 0;">
        <img src="./../image/image-gender.png" alt="" class="left-icon">
        <div class="input-text input-before">性别</div>
        <div class="flex-m sex-change">
          <p class="no-choose-sex">女<img src="./../image/image-select.png" alt=""></p>
          <p class="no-choose-sex choose-sex">男<img src="./../image/image-select.png" alt=""></p>
        </div>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/image-age.png" alt="" class="left-icon">
        <div class="input-text input-before">年龄</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- four -->
    <div class="form-box form-box">
      <div class="input-item-box flex-m" style="padding-right: 0;">
        <img src="./../image/image-gender.png" alt="" class="left-icon">
        <div class="input-text input-before">对方性别</div>
        <div class="flex-m sex-change">
          <p class="no-choose-sex">女<img src="./../image/image-select.png" alt=""></p>
          <p class="no-choose-sex choose-sex">男<img src="./../image/image-select.png" alt=""></p>
        </div>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/image-age.png" alt="" class="left-icon">
        <div class="input-text input-before">对方年龄</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m" style="padding-right: 0;">
        <img src="./../image/image-gender.png" alt="" class="left-icon">
        <div class="input-text input-before">本人性别</div>
        <div class="flex-m sex-change">
          <p class="no-choose-sexe">女<img src="./../image/image-select.png" alt=""></p>
          <p class="no-choose-sexe choose-sex">男<img src="./../image/image-select.png" alt=""></p>
        </div>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/image-age.png" alt="" class="left-icon">
        <div class="input-text input-before">本人年龄</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- 点击查询 -->
    <a href="javascript:;" class="weui-btn btn_primary">确认提交</a>
    <div class="test-text">已有 10000 人预测</div>
  </div>

  <div class="flex-m-sa tab-bar tab-bar-red">
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-red-1.png" alt="">
      <p>首页</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-red-2.png" alt="">
      <p>分类</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-red-3.png" alt="">
      <p>音乐</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-red-4.png" alt="">
      <p>购物车</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-red-5.png" alt="">
      <p>个人中心</p>
    </a>
  </div>
</body>
</html>
<script src="./../js/base.js"></script>
<script src="./../js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script>
  let activeIndex = 0
  var mySwiper = new Swiper('.swiper-container', {
    slidesPerView: 0.5,
    spaceBetween: 30,
    pagination: {
      clickable: true,
    },
    // 滑动swiper切换nav和表单
    on: {
      slideChangeTransitionStart: function(){
        activeIndex = this.activeIndex
        handleChangeBannerNav()
        handleChangeSwiperClass()
        handleChangeForm()
      },
    },
  });

  // 点击nav切换轮播卡片、表单区域
  $('.banner-nav').click(function() {
    activeIndex = $('.banner-nav').index(this)

    handleChangeBannerNav()
    handleChangeSwiperClass()
    handleChangeForm()

    mySwiper.slideTo(activeIndex, 500, false)
  })

  // 逢事键盘选择
  $('.sign').click(function() {
    let index = $('.sign').index(this)
    $('.sign').each(function() {
      $(this).removeClass('has-choose')
    })
    $('.sign').eq(index).addClass('has-choose')
  })

  // 下拉选择
  $("#xuewei").select({
    title: "选择穴位",
    items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
  });

  // 播放/暂停音乐
  var isPlay = false
  $('.music-play').click(function() {
    isPlay = !isPlay
    if(isPlay){
      $('.music-play').attr('src', './../image/icon-play.png')
      $('.icon-music').attr('src', './../image/icon-musicing.png')
    } else {
      $('.music-play').attr('src', './../image/icon-playing.png')
      $('.icon-music').attr('src', './../image/icon-music.png')
    }
  })

  // 音乐进度条
  $('#slide1').slider(function (percent) {
    console.log(percent)
  })

  // 音乐类型切换
  $('.music-type').click(function() {
    let index = $('.music-type').index(this)
    $('.music-type').each(function() {
      $(this).removeClass('active-tab-item')
    })
    $('.music-type').eq(index).addClass('active-tab-item')
  })

  // 切换banner nav选中颜色
  function handleChangeBannerNav() {
    $('.banner-nav').each(function() {
      $(this).removeClass('active-tab-item')
    })
    $('.banner-nav').eq(activeIndex).addClass('active-tab-item')
  }

  // 切换轮播卡片背景色
  function handleChangeSwiperClass() {
    $('.swiper-card-box').each(function() {
      $(this).removeClass('active-swiper-card')
    })
    $('.swiper-card-box').eq(activeIndex).addClass('active-swiper-card')
  }

  // 切换表单
  function handleChangeForm() {
    $('.form-box').each(function() {
      $(this).removeClass('active-form')
    })
    $('.form-box').eq(activeIndex).addClass('active-form')
  }

  // 切换性别
  $('.no-choose-sex').click(function() {
    let index = $('.no-choose-sex').index(this)
    $('.no-choose-sex').each(function() {
      $(this).removeClass('choose-sex')
    })
    $('.no-choose-sex').eq(index).addClass('choose-sex')
  })

  // 切换性别2
  $('.no-choose-sexe').click(function() {
    let index = $('.no-choose-sexe').index(this)
    $('.no-choose-sexe').each(function() {
      $(this).removeClass('choose-sex')
    })
    $('.no-choose-sexe').eq(index).addClass('choose-sex')
  })
</script>