<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人中心</title>
    <link rel="stylesheet" href="./../css/base.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link rel="stylesheet" href="./../css/mine.css">
    <script src="./../js/base.js"></script>
</head>
<body>
    <div class="mine-header">
        <div class="flex-m-end">
            <img src="./../image/mine_card.png" alt="" class="image-card">
            <img src="./../image/mine_set.png" alt="" class="image-set">
        </div>
        <p class="persion-center-title">个人中心</p>
        <div class="user-info flex-m">
            <img src="https://image.doulaoban.com/avatar/image/1609237727603" alt="" class="user-logo">
            <div class="info-detail-box">
                <p class="detail-name">刘先生</p>
                <p class="detail-identity">当前身份：用户</p>
            </div>
            <img src="./../image/mine_share.png" alt="" class="image-share">
        </div>
    </div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
</html>