<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
  <link rel="stylesheet" href="./../css/put_questions_home.css">
  <link rel="stylesheet" href="./../css/base.css">
  <script src="./../js/base.js"></script>
  <title></title>
</head>
<body>
  <div class="main-box">
    <div class="nav-box flex-m-sb">
      <img src="./../image/icon-menu.png" alt="" class="menu">
      <img src="./../image/mine_set.png" alt="" class="set">
    </div>
    <div class="question-title">逢事必问明易堂</div>
    <img src="./../image/put-question.png" alt="" class="question-cover">
    <a href="javascript:;" class="weui-btn weui-btn_warn">开始预测</a>
    <div class="test-text">已有 10000 人预测</div>
  </div>
</body>
</html>