<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../css/base.css">
  <link rel="stylesheet" href="./../css/swiper.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
  <link rel="stylesheet" href="./../css/yiyitongli.css">
  <title>易医通历</title>
</head>
<body>
  <div class="main-box">
    <div class="nav-box flex-m-sb">
      <img src="./../image/icon-menu.png" alt="" class="menu">
      <img src="./../image/mine_set.png" alt="" class="set">
    </div>
    <div class="main-title">易医通历</div>
    <div class="main-header-box flex-m">
      <div class="left-header">
        <div class="left-title pr">葛医堂易医通历</div>
        <div class="left-desc pr">
          根据生辰对您身体健康状况的进行评估，早预防、早调理、早保健...
          <span class="right-arrow">></span>
        </div>
      </div>
      <div class="right-cover-box pr">
        <img class="avatar" src="./../image/put-question.png" alt="">
        <img src="./../image/put-question.png" alt="" class="bagua">
      </div>
    </div>
    
    <!-- 轮播nav -->
    <div class="tab-box flex">
      <div class="tab-item active-tab-item">易医通历</div>
      <div class="tab-item">智能诊断</div>
      <div class="tab-item">当值穴位</div>
      <div class="tab-item">易乐处方</div>
    </div>
    <!-- 轮播卡片 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-card-box active-swiper-card">
            <div class="card-label">易医通历</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              壹
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">智能诊断</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              贰
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">当值穴位</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              叁
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">易乐处方</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              肆
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 轮播下表单 -->
    <!-- one -->
    <div class="form-box">
      <div class="input-item-box flex-m">
        <img src="./../image/icon-date.png" alt="" class="left-icon">
        <div class="input-text input-before">日期</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/icon-time.png" alt="" class="left-icon">
        <div class="input-text input-before">时辰</div>
        <div class="input-value input-text">丑时：01:00-02:59</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- two -->
    <div class="form-box">
      <div class="input-item-box flex-m">
        <img src="./../image/icon-date.png" alt="" class="left-icon">
        <div class="input-text input-before">日期</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/icon-time.png" alt="" class="left-icon">
        <div class="input-text input-before">时辰</div>
        <div class="input-value input-text">丑时：01:00-02:59</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- three -->
    <div class="form-box ">
      <div class="input-item-box flex-m">
        <img src="./../image/icon-date.png" alt="" class="left-icon">
        <div class="input-text input-before">日期</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/icon-time.png" alt="" class="left-icon">
        <div class="input-text input-before">时辰</div>
        <div class="input-value input-text">丑时：01:00-02:59</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <a href="javascript:;" class="weui-btn btn_primary">点击查询</a>
      <div class="form-label-box flex-m-sb">
        <div class="form-label-item active-form-label">灵龟八法</div>
        <div class="form-label-item">子午流注</div>
        <div class="form-label-item">穴位对应</div>
      </div>
      <!-- TODO 下拉框 -->
      <div class="input-item-box flex-m">
        <img src="./../image/icon-xuewei.png" alt="" class="left-icon">
        <div class="input-text input-before">穴位</div>
        <div class="input-value input-text"></div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- four -->
    <div class="form-box active-form">
      <img src="./../image/icon-2510.png" alt="" class="icon-2510">
      <img src="./../image/icon-music.png" alt="" class="icon-music">
      <div class="more-dot flex-m">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="music-control-box flex-m-sb">
        <img src="./../image/icon-loop.png" alt="" class="icon-loop">
        <img src="./../image/icon-music-list.png" alt="" class="icon-loop">
      </div>
      <!-- <audio src=""> -->
      <div class="weui-progress">
        <div class="weui-progress__bar">
          <div class="weui-progress__inner-bar js_progress" style="width: 80%;"></div>
        </div>
      </div>
      <div class="music-time flex-m-sb">
        <span>00:00</span>
        <span>03:09</span>
      </div>
      <div class="tab-box flex-m-c">
        <div class="tab-item active-tab-item">和弦</div>
        <div class="tab-item">单弦</div>
        <div class="tab-item">歌曲</div>          
      </div>
      <!-- 音乐控制器 -->
      <div class="play-box flex-m-c">
        <img src="./../image/icon-pre.png" alt="" class="music-pre">
        <img src="./../image/icon-play.png" alt="" class="music-play">
        <img src="./../image/icon-next.png" alt="" class="music-pre">
      </div>
    </div>
    <!-- 点击查询 -->
    <a href="javascript:;" class="weui-btn btn_primary">点击查询</a>
    <div class="test-text">已有 10000 人预测</div>
  </div>
</body>
</html>
<script src="./../js/base.js"></script>
<script src="./../js/zepto.min.js"></script>
<script src="./../js/swiper.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    pagination: {
      clickable: true,
    },
  });


</script>