<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../css/swiper.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
  <link rel="stylesheet" href="./../css/yiyitongli.css">
  <link rel="stylesheet" href="./../css/base.css">
  <title>易医通历</title>
</head>
<body>
  <div class="main-box">
    <div class="nav-box flex-m-sb">
      <img src="./../image/icon-menu.png" alt="" class="menu">
      <img src="./../image/mine_set.png" alt="" class="set">
    </div>
    <div class="main-title">易医通历</div>
    <div class="main-header-box flex-m">
      <div class="left-header">
        <div class="left-title pr">葛医堂易医通历</div>
        <div class="left-desc pr">
          根据生辰对您身体健康状况的进行评估，早预防、早调理、早保健...
          <span class="right-arrow">›</span>
        </div>
      </div>
      <div class="right-cover-box pr">
        <img class="avatar" src="./../image/put-question.png" alt="">
        <img src="./../image/put-question.png" alt="" class="bagua">
      </div>
    </div>
    
    <!-- 轮播nav -->
    <div class="tab-box flex">
      <div class="tab-item banner-nav active-tab-item">易医通历</div>
      <div class="tab-item banner-nav">智能诊断</div>
      <div class="tab-item banner-nav">当值穴位</div>
      <div class="tab-item banner-nav">易乐处方</div>
    </div>
    <!-- 轮播卡片 -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-card-box active-swiper-card">
            <div class="card-label">易医通历</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              壹
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">智能诊断</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              贰
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">当值穴位</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              叁
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-card-box">
            <div class="card-label">易乐处方</div>
            <img src="./../image/put-question.png" alt="" class="card-image">
            <div class="card-index">
              肆
              <span class="bottom-arrow">›</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 轮播下表单 -->
    <!-- one -->
    <div class="form-box active-form">
      <div class="input-item-box flex-m">
        <img src="./../image/icon-date.png" alt="" class="left-icon">
        <div class="input-text input-before">日期</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/icon-time.png" alt="" class="left-icon">
        <div class="input-text input-before">时辰</div>
        <div class="input-value input-text">丑时：01:00-02:59</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- two -->
    <div class="form-box">
      <div class="input-item-box flex-m">
        <img src="./../image/icon-date.png" alt="" class="left-icon">
        <div class="input-text input-before">日期</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/icon-time.png" alt="" class="left-icon">
        <div class="input-text input-before">时辰</div>
        <div class="input-value input-text">丑时：01:00-02:59</div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- three -->
    <div class="form-box">
      <div class="input-item-box flex-m">
        <img src="./../image/icon-date.png" alt="" class="left-icon">
        <div class="input-text input-before">日期</div>
        <div class="input-value input-text">农历1900年12月12日</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <div class="input-item-box flex-m">
        <img src="./../image/icon-time.png" alt="" class="left-icon">
        <div class="input-text input-before">时辰</div>
        <div class="input-value input-text">丑时：01:00-02:59</div>
        <span class="input-bottom-arrow">›</span>
      </div>
      <a href="javascript:;" class="weui-btn btn_primary">点击查询</a>
      <div class="form-label-box flex-m-sb">
        <div class="form-label-item active-form-label">灵龟八法</div>
        <div class="form-label-item">子午流注</div>
        <div class="form-label-item">穴位对应</div>
      </div>
      <!-- 下拉框 -->
      <div class="input-item-box flex-m">
        <img src="./../image/icon-xuewei.png" alt="" class="left-icon">
        <div class="input-before" style="top: -.1rem;"></div>
        <input 
          type="text" 
          class="input-text" 
          id="xuewei" 
          value="穴位"
        >
        <div class="input-value input-text"></div>
        <span class="input-bottom-arrow">›</span>
      </div>
    </div>
    <!-- four -->
    <div class="form-box">
      <img src="./../image/icon-2510.png" alt="" class="icon-2510">
      <img src="./../image/icon-music.png" alt="" class="icon-music">
      <div class="more-dot flex-m">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="music-control-box flex-m-sb">
        <img src="./../image/icon-loop.png" alt="" class="icon-loop">
        <img src="./../image/icon-music-list.png" alt="" class="icon-loop">
      </div>
      <!-- <audio src=""> -->
      <div class="weui-slider" id="slide1">
        <div class="weui-slider__inner">
          <div style="width: 30%;" class="weui-slider__track"></div>
          <div style="left: 30%;" class="weui-slider__handler"></div>
        </div>
      </div>
      <div class="music-time flex-m-sb">
        <span>00:00</span>
        <span>03:09</span>
      </div>
      <div class="tab-box flex-m-c" style="padding: 0;">
        <div class="tab-item music-type active-tab-item">和弦</div>
        <div class="tab-item music-type">单弦</div>
        <div class="tab-item music-type">歌曲</div>          
      </div>
      <!-- 音乐控制器 -->
      <div class="play-box flex-m-c">
        <img src="./../image/icon-pre.png" alt="" class="music-pre">
        <img src="./../image/icon-play.png" alt="" class="music-play">
        <img src="./../image/icon-next.png" alt="" class="music-pre">
      </div>
    </div>
    <!-- 点击查询 -->
    <div class="search-box">
      <a href="javascript:;" class="weui-btn btn_primary">点击查询</a>
      <div class="test-text">已有 10000 人预测</div>
    </div>
  </div>

  <div class="flex-m-sa tab-bar tab-bar-green">
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-green-1.png" alt="">
      <p>首页</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-green-2.png" alt="">
      <p>分类</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-green-3.png" alt="">
      <p>音乐</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-green-4.png" alt="">
      <p>购物车</p>
    </a>
    <a href="javascript:;" class="tab-bar-detail">
      <img src="./../image/icon-bar-green-5.png" alt="">
      <p>个人中心</p>
    </a>
  </div>
</body>
</html>
<script src="./../js/base.js"></script>
<script src="./../js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script>
  let activeIndex = 0
  var mySwiper = new Swiper('.swiper-container', {
    slidesPerView: 'auto',
    spaceBetween: -50,
    pagination: {
      clickable: true,
    },
    // 滑动swiper切换nav和表单
    on: {
      slideChangeTransitionStart: function(){
        activeIndex = this.activeIndex
        handleChangeBannerNav()
        handleChangeSwiperClass()
        handleChangeForm()
        showSearch()
      },
    },
  });

  function showSearch() {
    if(activeIndex === 3) {
      $('.search-box').hide()
    } else {
      $('.search-box').show()
    }
  }

  // 点击nav切换轮播卡片、表单区域
  $('.banner-nav').click(function() {
    activeIndex = $('.banner-nav').index(this)

    handleChangeBannerNav()
    handleChangeSwiperClass()
    handleChangeForm()
    showSearch()

    mySwiper.slideTo(activeIndex, 500, false)
  })

  // 下拉选择
  $("#xuewei").select({
    title: "选择穴位",
    items: ["法官", "医生", "猎人", "学生", "记者", "其他"]
  });

  // 播放/暂停音乐
  var isPlay = false
  $('.music-play').click(function() {
    isPlay = !isPlay
    if(isPlay){
      $('.music-play').attr('src', './../image/icon-play.png')
      $('.icon-music').attr('src', './../image/icon-musicing.png')
    } else {
      $('.music-play').attr('src', './../image/icon-playing.png')
      $('.icon-music').attr('src', './../image/icon-music.png')
    }
  })

  // 音乐进度条
  $('#slide1').slider(function (percent) {
    console.log(percent)
  })

  // 音乐类型切换
  $('.music-type').click(function() {
    let index = $('.music-type').index(this)
    $('.music-type').each(function() {
      $(this).removeClass('active-tab-item')
    })
    $('.music-type').eq(index).addClass('active-tab-item')
  })

  // 灵龟八法切换
  $('.form-label-item').click(function() {
    let index = $('.form-label-item').index(this)
    $('.form-label-item').each(function() {
      $(this).removeClass('active-form-label')
    })
    $('.form-label-item').eq(index).addClass('active-form-label')
  })


  // 切换banner nav选中颜色
  function handleChangeBannerNav() {
    $('.banner-nav').each(function() {
      $(this).removeClass('active-tab-item')
    })
    $('.banner-nav').eq(activeIndex).addClass('active-tab-item')
  }

  // 切换轮播卡片背景色
  function handleChangeSwiperClass() {
    $('.swiper-card-box').each(function() {
      $(this).removeClass('active-swiper-card')
    })
    $('.swiper-card-box').eq(activeIndex).addClass('active-swiper-card')
  }

  // 切换表单
  function handleChangeForm() {
    $('.form-box').each(function() {
      $(this).removeClass('active-form')
    })
    $('.form-box').eq(activeIndex).addClass('active-form')
  }

</script>